@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Kantumruy+Pro:ital,wght@0,300;0,400;0,500;1,400;1,500;1,600;1,700&family=Koulen&family=Moul&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");
/* font-family: 'Kantumruy Pro', sans-serif;
font-family: 'Koulen', sans-serif;
font-family: 'Moul', serif;
font-family: 'Bokor', serif;
font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue_color: #004d9b;
  --red_color: #cc1c09;
  --white1_color: #f9f9f9;
  --gray_color: #cccccc;
  --body_color: #ebedef;

  --koulen_font: "Koulen", sans-serif;
  --kantumruy_font: "Kantumruy Pro", sans-serif;
  --moul_font: "Moul", serif;
  --poppin_font: "Poppins", sans-serif;
  --bokor_font: "Bokor", serif;

  --size_menu: 13px;
}

body {
  background-color: var(--body_color);
}
html {
  scroll-behavior: smooth;
}

/* haeder */
.header {
  width: 100%;
  height: 80px;
  background-color: var(--blue_color);
}

.header .nav_content {
  width: 70%;
  height: 100%;
  margin: 0 auto;

  display: flex;
}

.nav_content .media_logo {
  width: 55%;
  height: 100%;
}
.media_logo .logo {
  width: 18%;
  height: 100%;
  display: flex;
}
.logo img {
  width: 100%;
  height: 100%;

  padding: 5px 0px;
  object-fit: contain;
}

.media {
  position: relative;
  width: 45%;
  height: 100%;

  display: flex;
}

.nav_content .media_icon {
  width: 45%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.media_icon .cicle_icon {
  width: 40px;
  height: 40px;
  padding: 3px;
  background-color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.cicle_icon .padding_cicle_icon {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}
.cicle_icon svg {
  width: 100%;
  height: 100%;
}
.nav_content .search {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
form {
  width: 100%;
  height: 50%;

  display: flex;
}
form input {
  width: 85%;
  height: 100%;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: var(--kantumruy_font);
}
form input::placeholder {
  font-size: 16px;
  font-family: var(--kantumruy_font);
  font-weight: 500;
}
.search_icon {
  width: 15%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;

  border-radius: 0px 50px 50px 0px;
}
.search_icon svg {
  color: var(--blue_color);
}

.toggle {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-30%, -50%);
  display: none;
}
.toggle button {
  background-color: var(--blue_color);
  border: none;
}
.toggle button svg {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* finish haeder */

/* navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: var(--red_color);
  position: sticky;
  top: 0;

  z-index: 990;
}
.menu {
  width: 70%;
  height: 100%;

  margin: 0 auto;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav_menu .item_active {
  background-color: var(--white1_color);
  color: var(--blue_color);
}
.nav_menu .active {
  color: var(--blue_color);
}
.nav_menu li {
  list-style: none;
  transition: 0.1s all;
  padding: 25px 10px;
}
.nav_menu li a {
  font-size: 17px;
  font-family: var(--moul_font);
  color: var(--white1_color);

  text-decoration: none;
}

.nav_menu li:hover {
  color: var(--blue_color);
  background-color: var(--white1_color);
}
.nav_menu li:hover a {
  color: var(--blue_color);
}
.nav_menu li:hover .icon_drop svg {
  color: var(--blue_color);
}
.drop {
  display: flex;
  align-items: center;
  gap: 4px;

  z-index: 1;
}
.icon_drop svg {
  color: var(--white1_color);
}
.drop:hover .dropdown {
  display: block;
}

.icon_drop {
  position: relative;
}
.dropdown {
  position: absolute;
  background-color: black;
  right: -100%;
  top: 100%;
  display: none;

  transform: translate(-0%, 5%);
  overflow: hidden;

  z-index: 1;
}
.dropdown .ul_drop {
  width: 300px;
  padding: 0px 0px 5px 20px;
  height: auto;
  background-color: var(--white1_color);
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
}
.dropdown .ul_drop .active {
  color: var(--red_color);
}
.ul_drop li a {
  font-size: 15px;
  font-family: var(--moul_font);
  line-height: 1px;
  color: black;

  transition: 0.4s all;
}
.ul_drop li a:hover {
  margin-left: 6px;
}
.ul_drop li a:hover {
  color: var(--red_color);
}
/* finsih navbar */

/* section_1 */
.section_1 {
  margin-top: 10px;
  width: 100%;
  height: 650px;

  overflow: hidden;
}

.container_sec_1 {
  width: 70%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  gap: 20px;
}

.box_left_sec1 {
  position: relative;
  width: 65%;
  height: 100%;
  background-color: var(--gray_color);
}
.img_sec1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.img_sec1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: -99;
}
.bg_black {
  top: 0;
  position: absolute;
  z-index: 1;
  background: rgb(38, 35, 35);
  background: linear-gradient(
    0deg,
    rgba(38, 35, 35, 0.7791491596638656) 0%,
    rgba(200, 201, 204, 0) 90%
  );
  width: 100%;
  height: 100%;
}

.container_sec_1 .img_sec1 .text1_box_left_sec1 {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 99;
  top: 70%;
  color: var(--white1_color);
  font-size: 25px;
  font-family: var(--kantumruy_font);
  font-weight: 450;
  line-height: 35px;
  padding: 20px;

  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.container_sec_1 .text1_box_left_sec1:hover {
  text-decoration: underline;
  font-weight: 450;
}
.box_left_sec1 .date_sec1 {
  position: absolute;
  top: 87%;
  font-family: var(--kantumruy_font);

  z-index: 1;
}
.date_sec1 .detail_date_sec1 {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.detail_date_sec1 .date_icon svg {
  color: var(--white1_color);
  font-weight: 600;
}
.detail_date_sec1 .text2_box_left_sec1 {
  color: var(--white1_color);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--kantumruy_font);
}

.click_sec1 {
  width: 100%;

  position: absolute;
  top: 98%;

  transform: translate(-0, -98%);
  z-index: 1;
}

.click_sec1 .all_icon {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5px;
}
.click_sec1 .all_icon button {
  background: none;
  border: none;
}
.click_sec1 .all_icon button svg {
  color: var(--white1_color);
  transition: 0.5s all;
}
.click_sec1 .all_icon .btn_sec1:hover svg {
  color: var(--red_color);
}

.box_right_sec1 {
  position: relative;
  width: 35%;
  height: 100%;
  /* background-color: chartreuse; */
}
.box_right_sec1 .box_detail_right_sec1 {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid var(--gray_color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: var(--white1_color);
  display: flex;
  padding: 0px 0px 0px 10px;
}
.box_detail_right_sec1 .txt {
  width: 60%;
  height: 100%;
  /* background-color: blue; */
}
.box_detail_right_sec1 .txt a {
  text-decoration: none;
}
.box_detail_right_sec1 .txt .title_1 {
  color: var(--red_color);
  padding: 10px 0px 0px 0px;
  font-family: var(--kantumruy_font);
  color: var(--blue_color);
  font-weight: 500;
  font-size: 22px;

  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;

  transition: 0.1s all;
}
.box_detail_right_sec1 .txt .date {
  margin-top: 15px;
  font-size: 18px;
  font-family: var(--kantumruy_font);
  font-weight: 500;
  color: #566573;
  opacity: 0.8;
}

.box_detail_right_sec1 .image {
  width: 40%;
  height: 100%;

  padding: 10px;
}
.image .box_img {
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.image .box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all;
}

.box_right_sec1 .box_detail_right_sec1:hover .box_img img {
  transform: scale(1.1);
}
.box_right_sec1 .box_detail_right_sec1:hover .title_1 {
  text-decoration: underline;
}

.box_right_sec1 .btn_slide_card {
  position: absolute;
  top: 75%;
  right: 50%;
  transform: translate(-50%, 0%);
}
.btn_slide_card button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.323);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  transition: 0.5s all;
}
.btn_slide_card i {
  color: var(--white1_color);
  transition: 0.5s all;
}
.btn_slide_card button:hover {
  background-color: var(--blue_color);
}
.btn_slide_card button #icon_luck {
  display: none;
}
.btn_slide_card button:hover #icon_unluck {
  display: none;
}
.btn_slide_card button:hover #icon_luck {
  display: inline;
}
/* finish section_1 */

/* title of news1 */
.full_container1 {
  width: 100%;
  height: 50px;
  margin: 20px 0px 20px 0px;
}
.full_container1 .container_1 {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--blue_color);
}
.container_1 .title_news {
  position: absolute;
  font-family: var(--moul_font);
  font-size: 14px;
  color: var(--white1_color);
  font-weight: 500;
  width: auto;
  height: 100%;
  padding: 0px 40px 0px 10px;

  display: flex;
  align-items: center;
  background-color: var(--red_color);
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}
/* finish title of news1 */

/* card of news1 */
.full_card_news1 {
  width: 100%;
  height: auto;
}
.full_card_news1 .container_news1 {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0 auto;
}
.container_news1 .card_news1 {
  width: 32%;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background-color: var(--white1_color) !important;

  overflow: hidden;
}
.card_news1:hover .box_img img {
  transform: scale(1.1);
}

.card_news1 .box_img {
  width: 100%;
  height: 50%;

  overflow: hidden;
}
.card_news1 .box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.4s all;
}
.card_news1 .box_img:hover {
  cursor: pointer;
}

.card_news1 .box_title {
  width: 100%;
  height: 50%;

  padding: 15px 15px 5px 15px;
}
.card_news1 .box_title .txt1 {
  font-size: 22px;
  line-height: 30px;
  font-family: var(--kantumruy_font);
  color: var(--blue_color);
  font-weight: 500;
  text-decoration: underline;

  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.card_news1 .box_title .txt1:hover {
  cursor: pointer;
}

.card_news1 .box_title .txt2 {
  padding: 12px 0px 5px 0px;
  font-size: 16px;
  font-family: var(--kantumruy_font);
  color: black;
  font-weight: 500;
  opacity: 0.8;
}

.card_news1 .box_title .txt3 {
  font-size: 20px;
  line-height: 30px;
  font-family: var(--kantumruy_font);
  color: black;
  font-weight: 500;
  opacity: 0.8;

  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.card_news1 .btn_share {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.btn_share .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  transition: 0.2s all;
}
.btn_share .btn:hover {
  cursor: pointer;
  background-color: var(--blue_color);
}
.card_news1 .btn_share button {
  border: none;
  padding: 15px 12px;
  border-radius: 3px;
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;
  text-decoration: none;
}
.card_news1 .btn_share .btn svg {
  color: var(--blue_color);

  transition: 0.2s all;
}
.card_news1 .btn_share .btn .txt_share {
  font-size: 20px;
  opacity: 0.8;
  font-family: var(--kantumruy_font);

  transition: 0.2s all;
}
.card_news1 .btn_share .btn:hover svg {
  color: var(--white1_color);
}
.card_news1 .btn_share .btn:hover .txt_share {
  color: var(--white1_color);
}

.btn_more_item {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_more_item .btn {
  border: none;
  padding: 15px 16px;
  border-radius: 3px;
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  transition: 0.2s all;
}
.btn_more_item .btn:hover {
  background-color: var(--blue_color);
  cursor: pointer;
}
.btn_more_item .btn:hover .txt {
  color: var(--white1_color);
}
.btn_more_item .btn:hover svg {
  color: var(--white1_color);
}
.btn_more_item .btn .txt {
  font-size: 22px;
  opacity: 0.9;
  font-family: var(--kantumruy_font);

  transition: 0.2s all;
}
.btn_more_item .btn svg {
  color: rgba(0, 0, 0, 0.638);

  transition: 0.2s all;
}
/* finish card of news1 */

/* footer */
.full_container_footer1 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: var(--blue_color);

  padding: 30px 0px 50px 0px;
}
.full_container_footer1 .container_footer1 {
  width: 70%;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
}
.container_footer1 .box_left {
  width: 40%;
  height: 100%;
}
.box_left .title1 {
  color: var(--white1_color);
  font-family: var(--bokor_font);
  font-size: 25px;
  font-weight: 500;
}
.box_left .place {
  padding-top: 10px;
  color: var(--white1_color);
  font-family: var(--poppin_font);
  font-size: 18px;
}
.box_left .message {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.message i {
  color: var(--white1_color);
}
.message p {
  color: var(--white1_color);
  font-size: 18px;
}
.box_left .contact {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.contact i {
  color: var(--white1_color);
}
.contact p {
  color: var(--white1_color);
}
.container_footer1 .box_mit1 {
  width: 15%;
  height: 100%;
}

.box_mit1 .title2 {
  color: var(--white1_color);
  font-family: var(--bokor_font);
  font-size: 25px;
  font-weight: 500;
}
.box_mit1 .facebook {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;

  margin-top: 10px;
  text-decoration: none;
  padding-bottom: 5px;
}
.cicle_svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  overflow: hidden;
}
.cicle_svg svg {
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
.facebook p {
  color: var(--white1_color);
  font-family: var(--poppin_font);
  font-size: 18px;
  transition: 0.1s all;
}
.box_mit1 .facebook:hover svg {
  transform: scale(1.2);
}
.box_mit1 .facebook:hover p {
  color: var(--red_color);
}
.container_footer1 .box_mit2 {
  width: 15%;
  height: 100%;
}
.box_mit2 .title3 {
  color: var(--white1_color);
  font-family: var(--bokor_font);
  font-size: 25px;
  font-weight: 500;
}
.box_mit2 .ios {
  width: 100%;
  height: 70px;
  margin-top: 15px;
}
.ios img {
  width: 100%;
  height: 100%;
}
.box_mit2 .addriod {
  width: 100%;
  height: 70px;
  margin-top: 10px;
}
.addriod img {
  width: 100%;
  height: 100%;
}
.container_footer1 .box_right {
  width: 30%;
  height: 100%;
  padding: 0px 0px 0px 30px;
}
.box_right .map_box {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}
.map_box iframe {
  width: 100%;
  height: 100%;
}
.box_right .title4 {
  color: var(--white1_color);
  font-family: var(--bokor_font);
  font-size: 25px;
  font-weight: 500;
}

.full_container_footer2 {
  margin-top: 2px;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  background-color: var(--blue_color);
}
.full_container_footer2 .container_footer2 {
  width: 70%;
  height: 100%;

  margin: 0 auto;
}
.container_footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.container_footer2 i {
  color: var(--white1_color);
  opacity: 0.8;
  font-size: 20px;
}
.container_footer2 p {
  color: var(--white1_color);
  font-family: var(--kantumruy_font);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}
/* finish footer */

/* sidebar responsive */
.sidebar_full_container {
  /* display: none; */
  visibility: hidden;
  right: -850px;
  width: 100%;
  height: 100%;
  position: fixed;

  overflow-y: hidden;
  z-index: 9999;
}

.full_container_sidebar {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_container_sidebar .box_sidebar {
  position: absolute;
  width: 75%;
  height: 100%;
  background-color: var(--body_color);

  right: 0;
  top: 0;
  overflow-y: scroll;
}
.bg_blur {
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.337);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
}
.box_sidebar .full_container_header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--blue_color);
}
.full_container_header .exit_toggle {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px;
}
.exit_toggle i {
  color: var(--white1_color);
  font-size: 35px;
}
.full_container_header .container_header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container_header .box_logo {
  width: 16%;
  height: 100%;
  padding: 3px;
}
.box_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.box_sidebar #search {
  width: 100%;
  height: 52px;
  display: flex;
  background-color: #f7f9f9;
}
#search .input {
  width: 80%;
}
#search input {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  outline: none;
  border: none;
  background: none;
  font-family: var(--kantumruy_font);
  font-size: 16px;
  font-weight: 500;
}
.box_sidebar button {
  width: 20%;
  height: 100%;
  background: none;
  border: none;

  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
}
.box_sidebar button i {
  font-size: 22px;
  padding-right: 15px;
  color: var(--blue_color);
}
.box_sidebar .menu_sidebar {
  width: 100%;
  padding: 0px 15px;
}
.menu_sidebar .nav_sidebar {
  display: block;
}
.nav_sidebar li {
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px dotted #004e9b5c;
}
.nav_sidebar li a {
  text-decoration: none;
  font-family: var(--moul_font);
  color: black;
  font-size: 17px;
  transition: 0.1s all;
}
.nav_sidebar li:hover a {
  color: var(--red_color);
}
.nav_sidebar li:hover {
  cursor: pointer;
}
/* finish sidebar responsive */

/* box modal */
.full_modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px) !important;

  z-index: 999999;
}
.container_box_modal {
  padding-top: 300px;
  display: flex;
  justify-content: center;
}
.box_modal {
  padding: 30px;
  border-radius: 20px;
  width: 450px;
  height: auto;
  background-color: var(--white1_color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  overflow: hidden;
}
.box_modal .header_modal {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border-bottom: 1px solid var(--gray_color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_modal .txt_header {
  color: rgba(0, 0, 0, 0.776);
  font-size: 18px;
  font-family: var(--moul_font);
}
.header_modal button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.header_modal button i {
  color: rgba(0, 0, 0, 0.608);
  font-size: 30px;
}
.txt2_modal p {
  color: black;
  font-family: var(--kantumruy_font);
  font-size: 20px;
  padding-top: 30px;
}
.box_modal .social_modal {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
}
.social_modal .all_socail_modal {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.all_socail_modal .facebook {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.66);
  border-radius: 50%;
  padding: 10px;
}
.all_socail_modal .facebook:hover {
  background-color: var(--blue_color);
}
.all_socail_modal .facebook:hover svg {
  color: var(--white1_color);
}
.all_socail_modal .facebook svg {
  width: 100%;
  height: 100%;
  color: var(--blue_color);
}
.all_socail_modal .telegram {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.66);
  border-radius: 50%;
  padding: 13px;
}
.all_socail_modal .telegram:hover {
  background-color: var(--blue_color);
}
.all_socail_modal .telegram svg {
  width: 100%;
  height: 100%;
}
.all_socail_modal .twister {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.66);
  border-radius: 50%;
  padding: 13px;
}
.all_socail_modal .twister:hover {
  background-color: var(--blue_color);
}
.all_socail_modal .twister svg {
  width: 100%;
  height: 100%;
}

.txt3_modal p {
  color: black;
  font-family: var(--kantumruy_font);
  font-size: 20px;
  padding-top: 20px;
}

.copy_link {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  background-color: var(--white1_color);
  border: 1px solid rgba(0, 0, 0, 0.66);
  padding: 5px;
  border-radius: 10px;

  display: flex;
}
.copy_link .icon_copy {
  width: 15%;
  height: 100%;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
.copy_link .icon_copy svg {
  color: rgba(0, 0, 0, 0.299);
}
.copy_link .txt_input {
  width: 60%;
  height: 100%;
}
.copy_link .txt_input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--white1_color);

  font-family: var(--poppin_font);
  font-weight: 300;
}
.copy_link .btn_copy {
  width: 25%;
  height: 100%;
  background: none;
}
.copy_link .btn_copy button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.289);
}
.copy_link .btn_copy button p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: var(--kantumruy_font);
}

#dialog.show {
  visibility: visible;
}

/* finish box modal */

/* btn scroll top */
.btn_scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0;
  z-index: 99;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #11111a1a 0 1px, #11111a1a 0 8px 24px, #11111a1a 0 16px 48px;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  backdrop-filter: blur(4px);
  background: var(--blue_color);
  border: none;
}
.btn_scroll svg {
  color: var(--white1_color);
  opacity: 0.8;
}

/* fixed header */
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.5s all;
}
