/* Extra small devices portrait phones, less than 576px */
@media (max-width: 575.98px) {
  body {
    position: relative;
    overflow: hidden;
  }
  html {
    overflow-x: hidden;
  }
  .navbar {
    display: none;
  }
  .media .media_icon {
    display: none;
  }
  .media .search {
    display: none;
  }
  .media .toggle {
    display: block;
  }
  .header .nav_content {
    width: 100%;
  }
  .nav_content .media_logo {
    width: 100%;
  }
  .media_logo .logo {
    width: 30%;
    padding-left: 5px;
  }

  .section_1 {
    margin-top: 0;
    padding: 10px 15px;
  }
  .container_sec_1 {
    flex-direction: column;
    width: 100%;
  }
  .box_left_sec1 {
    width: 100%;
  }
  .box_left_sec1 .date {
    top: 52%;
  }
  .box_left_sec1 .date .txt_date {
    font-size: 14px;
  }
  .box_left_sec1 .text2 {
    font-size: 17px;
    line-height: 25px;
    top: 60%;
  }
  .box_left_sec1 .btn_read_more {
    top: 80%;
    padding: 3px 20px;
  }

  .container_sec_1 .box_right_sec1 {
    width: 100%;
  }
  .box_right_sec1 .box_item_right {
    display: flex;
    gap: 15px;
  }

  .full_container1 {
    padding: 0px 15px;
    margin: 0px 0px 15px 0px;
  }
  .full_container1 .container_1 {
    width: 100%;
  }
  .full_card_news1 {
    padding: 0px 15px;
  }
  .full_card_news1 .container_news1 {
    width: 100%;
  }
  .container_news1 .card_news1 {
    width: 100%;
    height: 230px;
  }
  .card_news1 .box_title {
    padding: 0px 5px;
  }
  .card_news1 .box_title .txt1 {
    font-size: 18px;
    line-height: 22px;
  }
  .card_news1 .box_title .txt3 {
    font-size: 18px;
    line-height: 23px;
    margin-top: 20px;
  }
  .card_news1 .btn_share button {
    padding: 8px 16px;
  }

  .card_news1 .btn_share {
    padding-top: 20px;
  }
  .full_container_footer1 .container_footer1 {
    padding: 0px 15px;
    flex-direction: column;
    width: 100%;
  }
  .container_footer1 .box_left {
    width: 100%;
    padding-bottom: 15px;
  }
  .container_footer1 .box_mit1 {
    width: 100%;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .box_mit1 .all_socail {
    display: flex;
    gap: 20px;
  }
  .all_socail .cicle_svg {
    width: 20px;
    height: 20px;
  }
  .facebook p {
    font-size: 16px;
  }
  .container_footer1 .box_mit2 {
    width: 100%;
    padding-bottom: 15px;
  }
  .box_mit2 .ios {
    margin-top: 10px;
  }
  .container_footer1 .box_right {
    width: 100%;
    padding: 0;
  }
  .all_download {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .box_mit2 .ios {
    width: 160px;
    height: 100%;
    padding: 0;
  }
  .box_mit2 .addriod {
    width: 160px;
    height: 100%;
    margin-top: 12px;
  }

  .full_container_footer2 .container_footer2 {
    width: 100%;
  }

  .full_container_sidebar .box_sidebar {
    width: 100%;
  }
  .box_sidebar .full_container_header {
    height: 75px;
    position: sticky;
    top: 0;
  }
  .container_header .box_logo {
    width: 30%;
    padding: 5px;
  }
  .box_sidebar #search {
    height: 40px;
  }
  #search input {
    padding: 15px;
  }
  .nav_sidebar li {
    padding: 8px 0px;
  }
  .nav_sidebar li a {
    font-size: 17px;
  }
  .box_sidebar {
    height: 200vh;
  }

  .container_box_modal {
    padding-top: 150px;
  }
  .box_modal {
    width: 350px;
    height: auto;
  }
  .box_modal .header_modal {
    padding: 10px 0px;
  }
  .header_modal .txt_header {
    font-size: 16px;
  }
  .header_modal button {
    width: 35px;
    height: 35px;
  }
  .header_modal button i {
    font-size: 16px;
  }
  .txt2_modal p {
    padding: 15px 0px;
    font-size: 16px;
  }
  .box_modal .social_modal {
    margin-top: 5px;
  }
  .txt3_modal p {
    font-size: 16px;
  }
  .copy_link {
    height: 40px;
    margin-top: 15px;
  }
}

/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    position: relative;
    overflow: hidden;
  }
  html {
    overflow: hidden;
  }
  section {
    padding: 0px 15px;
  }
  .media .media_icon {
    width: 100%;
    padding-right: 100px;
  }
  .media_icon .cicle_icon {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .nav_content .search {
    display: none;
  }
  .header {
    height: 80px;
  }
  .header .nav_content {
    width: 100%;
    padding: 5px 6px;
  }
  .nav_content .media_logo {
    width: 100%;
  }
  .media .toggle {
    display: block;
  }

  .navbar {
    display: none;
  }

  .section_1 {
    height: 390px;
  }
  .container_sec_1 {
    width: 100%;
  }
  .box_left_sec1 {
    width: 100%;
  }
  .box_right_sec1 {
    display: none;
  }
  .img_sec1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .container_sec_1 .img_sec1 .text1_box_left_sec1 {
    top: 55%;
  }
  .box_left_sec1 .date_sec1 {
    top: 80%;
  }

  .full_container1 {
    padding: 0px 15px;
  }
  .full_container1 .container_1 {
    width: 100%;
  }
  .full_card_news1 .container_news1 {
    width: 100%;
  }
  .full_card_news1 .container_news1 {
    gap: 15px;
  }
  .container_news1 .card_news1 {
    width: 48.62%;
  }

  .full_container_footer1 .container_footer1 {
    padding: 0px 15px;
    flex-direction: column;
    width: 100%;
  }
  .container_footer1 .box_left {
    width: 100%;
    padding-bottom: 15px;
  }
  .container_footer1 .box_mit1 {
    width: 100%;
    padding-bottom: 15px;
  }
  .box_mit1 .all_socail {
    display: flex;
    gap: 50px;
  }
  .container_footer1 .box_mit2 {
    width: 100%;
    padding-bottom: 15px;
  }
  .box_mit2 .ios {
    margin-top: 10px;
  }
  .container_footer1 .box_right {
    width: 100%;
    padding: 0;
  }
  .all_download {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .box_mit2 .ios {
    width: 160px;
    height: 100%;
    padding: 0;
  }
  .box_mit2 .addriod {
    width: 160px;
    height: 100%;
    margin-top: 12px;
  }

  .box_sidebar {
    height: 200vh;
  }
}
