@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Kantumruy+Pro:ital,wght@0,300;0,400;0,500;1,400;1,500;1,600;1,700&family=Koulen&family=Moul&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");
/* font-family: 'Kantumruy Pro', sans-serif;
font-family: 'Koulen', sans-serif;
font-family: 'Moul', serif;
font-family: 'Bokor', serif;
font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue_color: #004d9b;
  --red_color: #cc1c09;
  --white1_color: #f9f9f9;
  --gray_color: #cccccc;
  --body_color: #ebedef;

  --koulen_font: "Koulen", sans-serif;
  --kantumruy_font: "Kantumruy Pro", sans-serif;
  --moul_font: "Moul", serif;
  --poppin_font: "Poppins", sans-serif;
  --bokor_font: "Bokor", serif;

  --size_menu: 13px;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: var(--red_color);

  z-index: 9999;
}
.navbar.fixedmenu {
  position: fixed;
  top: 0;
  animation: fadeIndown 0.7s ease-in-out;
}
@keyframes fadeIndown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.menu {
  width: 70%;
  height: 100%;

  margin: 0 auto;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.nav_menu .item_active {
  background-color: var(--white1_color);
  color: var(--blue_color);
}
.nav_menu .active {
  color: var(--blue_color);
}
.nav_menu a {
  font-size: 16px;
  font-family: var(--moul_font);
  color: var(--white1_color);

  text-decoration: none;
}
.nav_menu a li {
  list-style: none;
  transition: 0.1s all;
  padding: 15px 8px;
}

.nav_menu li:hover {
  color: var(--blue_color);
  background-color: var(--white1_color);
}
.nav_menu li:hover a {
  color: var(--blue_color);
}
.nav_menu li:hover .icon_drop svg {
  color: var(--blue_color);
}
.nav_menu .last_item .drop {
  padding: 15px;
  list-style: none;
}
.nav_menu .drop {
  position: relative;
  z-index: 99999;

  transition: 0.2s all;
}

/* .dropdown {
  position: absolute;
  background-color: black;
  right: 15%;
  top: 100%;
  display: block;

  transform: translate(-0%, 5%);
  overflow: hidden;

  z-index: 2;
} */
.dropdown {
  position: absolute;
  background-color: black;
  right: 0;
  top: 100%;
  display: none;
  transform: translate(-0%, -0%);
  overflow: hidden;
  width: 270px;
  padding: 5px 0px 5px 20px;
  height: auto;
  background-color: var(--white1_color);
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);

  z-index: 99;
}
.nav_menu .drop:hover .dropdown {
  display: block;
}
.dropdown .ul_drop .active_drop {
  color: var(--red_color) !important;
}
.ul_drop li {
  padding: 5px;
  list-style: none;
  transition: 0.4s all;
}
.ul_drop li a {
  color: black !important;
  font-size: 12px;
  font-family: var(--moul_font);

  transition: 0.3s all;
}
.ul_drop li a:hover {
  margin-left: 6px;
}
.ul_drop li a:hover {
  color: var(--red_color) !important;
}
/* finsih navbar */
