/* no data section */
.full_contain_data {
  width: 100%;
  height: 500px;
}
.full_contain_data .container_data {
  width: 70%;
  height: 100%;

  margin: 0 auto;
}
.container_data .box_content_data {
  width: 40%;
  height: 100%;

  margin: 0 auto;
}
.box_content_data .box_image {
  width: 100%;
  height: 70%;
}
.box_content_data .box_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box_content_data .box_text_data {
  width: 100%;
  height: 30%;
}
.box_text_data .txt_data_1 {
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.646);
  text-align: center;
  font-family: var(--Sovanphum_font);
  font-size: 30px;
  font-weight: 600;
}
.box_text_data .txt_data_2 {
  color: black;
  font-family: var(--kantumruy_font);
  font-size: 20px;
  text-align: center;
  opacity: 0.8;
  padding-top: 10px;
}
/* finsih no data section */
