/* section 1 */
.full_sec1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.full_sec1 .container_sec1 {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.container_sec1 .all_box_item_sec1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.all_box_item_sec1 .box_item_sec1 {
  position: relative;
  width: 49.41%;
  height: 120px;
  border: 1px solid var(--gray_color);
  background-color: rgba(128, 128, 128, 0.068);
}
.box_item_sec1 .icon_radio {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-0%, -50%);
}
.box_item_sec1 .icon_radio svg {
  color: var(--red_color);
}
.box_item_sec1 .text_one_sec1 {
  position: absolute;
  top: 30%;
  left: 18%;

  transform: translate(-0%, -40%);
}
.box_item_sec1 .text_one_sec1 p {
  font-family: var(--kantumruy_font);
  font-weight: 500;
  font-size: 20px;
  color: gray;
}
.box_item_sec1 .date_sec1 {
  position: absolute;
  top: 60%;
  left: 18%;
}
.box_item_sec1 .date_sec1 p {
  font-family: var(--kantumruy_font);
  font-weight: 500;
  font-size: 17px;
  color: gray;
}
.box_item_sec1 .click_lesson {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-30%, -50%);

  width: 85px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--blue_color);

  transition: 0.1s all;
}
.box_item_sec1 .click_lesson:hover {
  background-color: var(--red_color);
}
.click_lesson .box_lesson {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.click_lesson .box_lesson svg {
  color: var(--white1_color);
}
.click_lesson .box_lesson span {
  color: var(--white1_color);
  font-family: var(--Sovanphum_font);
  font-size: 16px;
}
/* finish section 1 */
