/* card of news1 */
.full_card_page2 {
  width: 100%;
  height: auto;
}
.full_card_page2 .container_card_page2 {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0 auto;
}
.container_card_page2 .card_page2 {
  width: 100%;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background-color: var(--white1_color) !important;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}
.card_page2:hover .box_img img {
  transform: scale(1.1);
}

.card_page2 .box_img {
  width: 30%;
  height: 100%;

  overflow: hidden;
}
.card_page2 .box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.4s all;
}

.card_page2 .box_title {
  width: 70%;
  height: 100%;

  padding: 15px 40px;
}
.card_page2 .box_title .txt1 {
  font-size: 25px;
  font-family: var(--kantumruy_font);
  color: var(--blue_color);
  line-height: 30px;
  font-weight: 500;
  text-decoration: underline;

  display: inline;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.card_page2 .box_title .txt3 {
  font-size: 22px;
  font-family: var(--kantumruy_font);
  color: black;
  line-height: 30px;
  font-weight: 500;
  opacity: 0.8;
  margin-top: 15px;

  display: inline;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.card_page2 .btn_share {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.btn_share .date_card1 {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}
.btn_share .date_card1 .txt2 {
  font-size: 16px;
  font-family: var(--kantumruy_font);
}
.date_card1 svg {
  color: rgba(0, 0, 0, 0.679);
}
.card_page2 .btn_share .txt2 {
  padding: 12px 0px 12px 0px;
  font-size: 16px;
  font-family: var(--kantumruy_font);
  color: black;
  font-weight: 500;
  opacity: 0.8;
}
.date_card1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  transition: 0.2s all;
}

.card_page2 .btn_share button {
  height: 35px;
  width: auto;
  border: none;
  padding: 7px 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;
}
.card_page2 .btn_share button:hover {
  cursor: pointer;
}
.card_page2 .btn_share button svg {
  color: rgba(0, 0, 0, 0.638);

  transition: 0.2s all;
}
.card_page2 .btn_share .txt_share {
  font-size: 17px;
  opacity: 0.8;
  font-family: var(--kantumruy_font);

  transition: 0.2s all;
}

.btn_more_item {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.btn_more_item .btn_back {
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--gray_color);
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn_more_item .btn_back .txt_back {
  color: var(--white1_color);
  font-weight: 500;
  font-family: var(--kantumruy_font);
  font-size: 18px;
}
.btn_more_item .btn_back svg {
  color: var(--white1_color);
}
.btn_more_item .btn_go {
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue_color);
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn_more_item .btn_go .txt_go {
  color: var(--white1_color);
  font-weight: 500;
  font-family: var(--kantumruy_font);
  font-size: 18px;
}
.btn_more_item .btn_go svg {
  color: var(--white1_color);
}
/* finish card of news1 */
