/* section_1 */
.full_container_page2 {
  width: 100%;
  height: auto;
}
.container_sec1_page2 {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 15px;
}
.container_sec1_page2 .list_page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 0;
  background-color: var(--white1_color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.list_page .item_one {
  width: 68%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.item_one .image_sec1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item_one .title_box_sec1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 4rem 1rem 1rem;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 113%
  );
}
.item_one .title_box_sec1 span {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  color: var(--white1_color);
  font-size: 17px;
  font-family: var(--kantumruy_font);
}
.item_one .title_box_sec1 p {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: var(--white1_color);
  font-size: 23px;
  line-height: 35px;
  font-family: var(--Sovanphum_font);
}

.title_box_sec1 .btn_read_more {
  width: fit-content;
  border-radius: 3px;
  color: #ffb800;
  background-color: #039;
  padding: 5px 15px;
  border: 1px solid #ffb800;
  margin-top: 20px;
  overflow: hidden;
}
.title_box_sec1 .btn_read_more a {
  text-decoration: none;
  font-family: var(--Sovanphum_font);
  font-size: 19px;
  color: #ffb800;
}
.list_page .sidebar_item {
  width: 32%;
  height: 100%;
}
.list_page .sidebar_item .all_item_sidebar {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
}
.list_page .sidebar_item .all_item_sidebar .item_one_sidebar {
  width: 100%;
  height: 190px;
  position: relative;
  background-color: #039;
  overflow: hidden;
}
.all_item_sidebar .item_one_sidebar .image_item {
  width: 100%;
  height: 100%;
}
.all_item_sidebar .item_one_sidebar .image_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all_item_sidebar .item_one_sidebar .title_box_item {
  width: 100%;
  height: 100%;
  padding: 10px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 113%
  );
}
.item_one_sidebar .title_box_item p {
  color: var(--white1_color);
  font-family: var(--Sovanphum_font);
  font-size: 20px;
  padding-top: 140px;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* finish section_1 */
