/* video section */
.full_video_sec {
  width: 100%;
  height: auto;
}
.full_video_sec .container_video_sec {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.container_video_sec .all_card_video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.container_video_sec .box_video {
  width: 32.2%;
  height: 340px;
  background-color: var(--white1_color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  transition: 0.2s all;
}
.container_video_sec .box_img_video {
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}
.container_video_sec .box_img_video a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all;
}
.container_video_sec .box_img_video .icon_video {
  position: absolute;
  top: 50%;
  right: 40%;

  transform: translate(-0%, -50%);
}
.container_video_sec .box_img_video .icon_video svg {
  color: var(--white1_color);
  transition: 0.2s all;
}
.container_video_sec .box_video:hover img {
  transform: scale(1.2);
}
.container_video_sec .box_video:hover svg {
  color: var(--red_color);
}
.container_video_sec .description_video {
  width: 100%;
  height: 40%;
  padding: 20px 20px 0px 20px;
}
.container_video_sec .description_video .title_video {
  font-family: var(--kantumruy_font);
  color: var(--blue_color);
  font-size: 19px;
  line-height: 28px;
  text-decoration: none;

  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.container_video_sec .box_video:hover .title_video {
  text-decoration: underline;
}
.container_video_sec .description_video .date_video {
  padding-top: 15px;
  font-family: var(--kantumruy_font);
  font-size: 17px;
  color: var(--blue_color);
}

/* finish video section */

.btn_more_item {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.btn_more_item .btn_back {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--gray_color);
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.btn_more_item .btn_back svg {
  color: var(--white1_color);
}
.btn_more_item .btn_back .txt1 {
  font-size: 19px;
  color: var(--white1_color);
  font-weight: 500;
  font-family: var(--Sovanphum_font);

  transition: 0.2s all;
}
.btn_more_item .btn_go {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue_color);
  box-shadow: #0000000d 0 6px 24px, #00000014 0 0 0 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.btn_more_item .btn_go svg {
  color: var(--white1_color);
}
.btn_more_item .btn_go .txt2 {
  font-size: 19px;
  color: var(--white1_color);
  font-weight: 500;
  font-family: var(--Sovanphum_font);
}
/* finish title of news1 */
